[submodule "meko/hashtable"]
	path = meko/hashtable
	url = https://github.com/Helianthella/hercules-hashtable
	branch = master
[submodule "meko/reserved"]
	path = meko/reserved
	url = https://github.com/Helianthella/hercules-reserved
	branch = master
